.card-container {
  width: 500px;
  position:relative;
  top:45%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
}

a {
  cursor: pointer;
  color: blue;
}

.input-width {
  width: 90%;
}
.input-width1 {
  width: 85%;
}

.image {
  height:100vh;
}
.content {
  max-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;

}

.mat-success{
  background-color: #E11F1F;
  color: #fff;
}
