
  <mat-dialog-actions>
    <button mat-raised-button id='1'   (click)="approve_gazeta(id, post.checked_gazeta)">Газета</button>
    <button mat-raised-button id='2'   (click)="approve_site(id, post.checked_site)">Сайт</button>
    <button mat-raised-button id='3'   (click)="approve_lviv(id, post.checked_lviv)">Львів</button>
    <button mat-raised-button id='4'   (click)="approve_regions(id, post.checked_regions)">Регіони</button>
    <button mat-raised-button id='5' class='archieve' mat-dialog-close (click)="reject(id)">Відхилити</button>
    <span class="fillup"></span>
    <button mat-raised-button class='archieve'  mat-dialog-close (click)="archieve(id)">Архівувати</button>
    <button mat-button class='close' [mat-dialog-close]="true">X</button>
  
  <div class="header"></div>
  <div class="full">
  <div>
    <font size="2" color="grey">Автор: </font> <font size="2" color="black">{{post.name}} </font>
  </div>
  <mat-divider></mat-divider>
  <div>
    <font size="2" color="grey">Відділ: </font> <font size="2" color="black">{{post.branch}} </font>
  </div>
  <mat-divider></mat-divider>
  <div>
    <font size="2" color="grey">Дата: </font> <font size="2" color="black">{{post.date}} </font>
  </div>
  <mat-divider></mat-divider>
  <div>
   <font size="2" color="grey">Здача: </font> <font size="2" color="black">{{post.submitDate}} </font>
  </div>
  <mat-divider></mat-divider>
  <div>
    <font size="2" color="grey">Дедлайн: </font> <font size="2" color="red">{{post.deadline}}</font>
  </div>
  <mat-divider></mat-divider>
  <div class="content2">
    <font size="2" color="grey">Першоджерело: </font> <font size="2" color="black">{{post.source}} ({{post.sourceDate}})</font>
  </div>
  <mat-divider></mat-divider>
  <div>
    <font size="2" color="grey">Лінк: </font> <font size="2" color="black"><a href="{{post.link}}" target="_blank">{{post.link}}</a> </font>
  </div>
  
  
  <mat-divider></mat-divider>
  <div class="content">
    <font size="2" color="grey">Опис: </font> <br /> <font size="2" color="black">{{post.content}} </font>
    <div class="divider">
  
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="content1">
    <font size="2" color="grey">Коментарі: </font> <br /> <font size="2" color="black">{{post.comments}} </font> 
  </div>
  <mat-form-field class="example-full-full-width">
      <input  id='5' matInput [(ngModel)]="comm" name="comm">
  </mat-form-field>
  
  <mat-divider></mat-divider>
  <mat-form-field>
        <mat-select placeholder="Перенести"  [(ngModel)]="selected_types"  multiple>
          <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
  </mat-form-field>  
  <mat-form-field>
    <mat-select placeholder="Журналіст" [(ngModel)]="selected">
      <mat-option *ngFor="let g of journ" ngDefaultControl [value]="g">
        {{ g }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
      <input matInput [(ngModel)]="deadln" name="deadln" [matDatepicker]="picker1"  placeholder="Дедлайн">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Година"  [(ngModel)]="selected_hour">
      <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
    </mat-select>
</mat-form-field> 

<mat-form-field>
  <mat-select name="prior" placeholder="Приорітет" [(ngModel)]="priority_selected">
    <mat-option *ngFor="let p of priorities" ngDefaultControl [value]="p">
      {{ p }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-select placeholder="Наскрізні"  [(ngModel)]="added_to_nascrizni"  multiple>
      <mat-option *ngFor="let nasc of all_nascrizni" [value]="nasc">{{nasc}}</mat-option>
    </mat-select>
</mat-form-field>  
<div>
    <button mat-raised-button class="approve1" type="submit" (click)="changePost(id)">Змінити</button>
</div>
  </div>

  
  
  