<div class='all'>
  <div fxLayout="column" fxLayoutGap="0px" style="background: #D0D3D4;-webkit-user-select: none;">
    <div fxFlex>
      <div>
          <app-site-top-bar></app-site-top-bar>
          <app-or-site-bar [type]="type" (onTypeSelected)="typeSelected($event)"></app-or-site-bar>
      </div>
    </div>
    <div fxFlex>
      <div class="card-container">
        <div *ngIf="type == 'site';then site"></div>
        <div *ngIf="type == 'media';then media"></div>
        <ng-template #site><app-post-or-site></app-post-or-site>.</ng-template>
        <ng-template #media><app-gazeta-media></app-gazeta-media>.</ng-template>
        </div>
      </div>
    </div>
  </div>