
<div class='all'>
    <div fxLayout="column" fxLayoutGap="0px" style="background: #D0D3D4;-webkit-user-select: none;">
      
        <div fxFlex>
            <div>
                <app-top-bar-dashboard></app-top-bar-dashboard>
            </div>
        </div>

        <div fxFlex>
            <div class="card-container">
                <mat-card>
                    <app-posts></app-posts>
                </mat-card>
            </div>
        </div>


        <div fxFlex>
            <div fxLayout="row" fxLayoutGap="0px" style="background: #D0D3D4;-webkit-user-select: none;">
                <div fxFlex ="70%">
                    <div class="card-container">
                        <mat-card>
                            <app-comments></app-comments>
                        </mat-card>
                    </div>
                </div>
                <div fxFlex ="30%">
                    <div class="card-container">
                        <mat-card>
                            <app-deadlines></app-deadlines>
                        </mat-card>
                    </div>
                </div>
            </div>
                    
                    
        </div>
    </div>
</div>
