.card-container {
  position:relative;
  padding:8px;
  text-align: center;
  overflow-y: auto;
  overflow-x: auto;
}

.input-width {
  width: 80%;
}

.all{
  max-height: calc(100vh);
}

.body {
  background-color: #D0D3D4;
}


