
<div fxLayout="row" fxLayoutGap="1px" style="background: #636e72;-webkit-user-select: none;">
  <div fxFlex="15%">
    <div class="content">
        <app-nav-bar></app-nav-bar>
    </div>
  </div>
  <div fxFlex="85%">
    

<div fxLayout="column" fxLayoutGap="1px" style="background: #636e72;-webkit-user-select: none;">
  <div fxFlex="80%">
    <div class="card-container">
        <mat-card>
            <app-posts></app-posts>
          </mat-card>
      </div>
    </div>
    <div fxFlex="20%">
        <div fxLayout="row" fxLayoutGap="1px" style="background: #636e72;-webkit-user-select: none;">
            <div fxFlex="50%"> <div class="card2-container">
                <mat-card>
                    <app-comments></app-comments>
                  </mat-card>
              </div></div>
            <div fxFlex="50%"><div class="card3-container">
                <mat-card>
                    <app-deadlines></app-deadlines>
                  </mat-card>
              </div></div>

    </div>
</div>
  </div>