
  <mat-dialog-actions>
    <span class="fillup"></span>
    <button mat-raised-button class='archieve'  mat-dialog-close (click)="archieve(id)">Архівувати</button>
    <button mat-button class='close' [mat-dialog-close]="true">X</button>
  </mat-dialog-actions>
  <div class="header"></div>
  <div class="full">
  <div>
    <font size="2" color="grey">Автор: </font> <font size="2" color="black">{{post.name}} </font>
  </div>
  <mat-divider></mat-divider>
  <div>
    <font size="2" color="grey">Відділ: </font> <font size="2" color="black">{{post.branch}} </font>
  </div>
  <mat-divider></mat-divider>
  <div>
    <font size="2" color="grey">Дата: </font> <font size="2" color="black">{{post.date}} </font>
  </div>
  <mat-divider></mat-divider>
  <div>
   <font size="2" color="grey">Здача: </font> <font size="2" color="black">{{post.submitDate}} </font>
  </div>
  <mat-divider></mat-divider>
  <div>
    <font size="2" color="grey">Дедлайн: </font> <font size="2" color="red">{{post.deadline}}</font>
  </div>
  <mat-divider></mat-divider>
  <div class="content2">
    <font size="2" color="grey">Першоджерело: </font> <font size="2" color="black">{{post.source}} ({{post.sourceDate}})</font>
  </div>
  <mat-divider></mat-divider>
  <div>
    <font size="2" color="grey">Лінк: </font> <font size="2" color="black"><a href="{{post.link}}" target="_blank">{{post.link}}</a> </font>
  </div>
  
  
  <mat-divider></mat-divider>
  <div class="content">
    <font size="2" color="grey">Опис: </font> <br /> <font size="2" color="black">{{post.content}} </font>
    <div class="divider">
  
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="content1">
    <font size="2" color="grey">Коментарі: </font> <br /> <font size="2" color="black">{{post.comments}} </font> 
  </div>  
  <mat-divider></mat-divider>
  <div class="header"></div>
  