<div class='all'>
    <div fxLayout="column" fxLayoutGap="0px" style="background: #D0D3D4;-webkit-user-select: none;">
      <div fxFlex>
        <div>
            <app-kv-top-bar></app-kv-top-bar>
            <app-kv-bar [type]="type" (onTypeSelected)="typeSelected($event)"></app-kv-bar>
        </div>
      </div>
      <div fxFlex>
        <div class="card-container">
            <div *ngIf="type == 'gazeta';then gazeta"></div>
            <div *ngIf="type == 'site';then site"></div>
            <div *ngIf="type == 'lviv';then lviv"></div>
            <div *ngIf="type == 'regions';then regions"></div>
            <ng-template #gazeta><app-kv-posts></app-kv-posts>.</ng-template>
            <ng-template #site><app-kv-site></app-kv-site>.</ng-template>
            <ng-template #lviv><app-kv-lviv></app-kv-lviv>.</ng-template>
            <ng-template #regions><app-kv-regions></app-kv-regions>.</ng-template>
  
          </div>
        </div>
      </div>
    </div>