<div style="padding-bottom: 0px; -webkit-app-region: drag;">
  <mat-toolbar class="mat-elevation-z20" [color]="'success'">
    <img class='ico' src="https://firebasestorage.googleapis.com/v0/b/expres-a0866.appspot.com/o/ico.png?alt=media&token=9cc91bfd-f753-4f34-9de3-4537f52cc5b1">
    <button mat-button  [color]="'success1'" (click)="addPost()"><b><font size="3">ДОДАТИ ТЕМУ</font></b></button>
    <button mat-button  [color]="'success2'" (click)="showArchieve()">архів</button>
    <button mat-button  [color]="'success2'" (click)="logout()">вийти</button>
    <!-- This fills the remaining space of the current row -->
    <span class="fillup"></span>
    <span><button mat-button (click)="minimize()">—</button></span>
    <span><button mat-button (click)="close()">X</button></span>
  </mat-toolbar>
  </div>
  