<div class='all'>
  <div fxLayout="column" fxLayoutGap="0px" style="background: #D0D3D4;-webkit-user-select: none;">
    <div fxFlex>
      <div>
          <app-or-top-bar></app-or-top-bar>
          <app-gazeta-bar [type]="type" (onTypeSelected)="typeSelected($event)"></app-gazeta-bar>
      </div>
    </div>
    <div fxFlex>
      <div class="card-container">
          <div *ngIf="type == 'gazeta';then gazeta"></div>
          <div *ngIf="type == 'site';then site"></div>
          <div *ngIf="type == 'media';then media"></div>
          <ng-template #gazeta><app-post-or-gazeta></app-post-or-gazeta>.</ng-template>
          <ng-template #site><app-site-posts></app-site-posts>.</ng-template>
          <ng-template #media><app-gazeta-media></app-gazeta-media>.</ng-template>
        </div>
      </div>
    </div>
  </div>