<mat-card class="mat-elevation-z10">
    <div>
      <b><p align="left" style="color:#F4D03F; font-size:10px;">НОВЕ - ЛЬВІВСЬКІ</p></b>
      <div class="new-posts"></div>
        <!-- filter field
        <div>
          <mat-form-field>
            <input matInput (keyup)="applyFilter(postsData, $event.target.value)" placeholder="Пошук...">
          </mat-form-field>
        </div>
      table with posts for gazets-->
      
      <mat-table #table1="matSort" [dataSource]="postsData" matSort matSortActive="data.date" matSortDirection="asc">  
        
        <ng-container matColumnDef="data.checked">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Затвердити </mat-header-cell>
          <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{post.data.checked}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="data.branch">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;"  *matCellDef="let post" [ngClass]="{'one' : post.data.branch == 'Головний редактор', 'two' : post.data.branch == 'Оперативний редактор', 'three' : post.data.branch == 'Здоров\'я', 'four' : post.data.branch == 'Новини', 'five' : post.data.branch == 'Політика' , 'six' : post.data.branch == 'Репортери', 'seven' : post.data.branch == 'Регіональні редакції', 'eight' : post.data.branch == 'Самостійний'}"> {{ post.data.branch }} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="data.date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Дата </mat-header-cell>
          <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{ post.data.date}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="data.name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Автор </mat-header-cell>
          <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{ post.data.name}} </mat-cell>
        </ng-container>
    
    
        <ng-container matColumnDef="data.content" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> Тема </mat-header-cell>
            <mat-cell style="justify-content: left; text-overflow:ellipsis; " *matCellDef="let post"><p> Першоджерело: {{post.data.source}} - {{post.data.sourceDate}} <br/> {{post.data.content}} <br/><br/>
              <button mat-raised-button  class="default" id={{post.id}}-1  (click)="approve_gazeta(post.id); $event.stopPropagation()">Загальні</button>
              <button mat-raised-button  class="default" id={{post.id}}-2  (click)="approve_site(post.id); $event.stopPropagation()">Сайт</button>
              <button mat-raised-button  class="default" id={{post.id}}-3  (click)="approve_lviv(post.id); $event.stopPropagation()">Львів</button>
              <button mat-raised-button  class="default" id={{post.id}}-4  (click)="approve_regions(post.id); $event.stopPropagation()">Регіони</button>
              <button mat-raised-button  class="default" id={{post.id}}-5  (click)="approve_read(post.id); $event.stopPropagation()">Відхилити</button>       
            </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="data.priority" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
            <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{post.data.priority}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="data.actions">
            <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
            <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post" [ngClass]="{'oneone' : post.data.comments != '' || post.data.deadline != '', 'twotwo' : post.data.comments == '' && post.data.deadline == ''}"> {{ post.data.branch }} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" 
        (click)="showPost(row.id,row.data)"
        [ngClass]="{'positive' : row.data.checked_lviv == true, 'negative' : row.data.checked_lviv == false, 'own' : row.data.author == this.auth.currentUserId && row.data.checked == true, 'read' : row.data.read == true}"></mat-row>
      </mat-table>
      <mat-paginator #gazPaginator
                     [pageSize]="14"
                     [pageSizeOptions]="[5, 14, 25, 50]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
      </div>
    </mat-card>
    
    <mat-card class="cards mat-elevation-z10">
      <div>
          <b><p align="left" style="color:green; font-size:10px;">ЗАТВЕРДЖЕНЕ - ЛЬВІВСЬКІ</p></b>
          <div class="approved-posts"></div>
        <!-- table with posts for gazets-->
        
        <mat-table #table2="matSort" [dataSource]="sitesData" matSort matSortActive="data.date" matSortDirection="desc">  
          
          <ng-container matColumnDef="data.checked">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Затвердити </mat-header-cell>
            <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{post.data.checked}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="data.branch">
              <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
              <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;"  *matCellDef="let post" [ngClass]="{'one' : post.data.branch == 'Головний редактор', 'two' : post.data.branch == 'Оперативний редактор', 'three' : post.data.branch == 'Здоров\'я', 'four' : post.data.branch == 'Новини', 'five' : post.data.branch == 'Політика' , 'six' : post.data.branch == 'Репортери', 'seven' : post.data.branch == 'Регіональні редакції', 'eight' : post.data.branch == 'Самостійний'}"> {{ post.data.branch }} </mat-cell>
            </ng-container>
      
          <ng-container class="top" matColumnDef="data.date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Дата </mat-header-cell>
            <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{ post.data.date}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="data.name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Автор </mat-header-cell>
            <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{ post.data.name}} </mat-cell>
          </ng-container>
      
      
          <ng-container matColumnDef="data.content" >
              <mat-header-cell *matHeaderCellDef mat-sort-header> Тема </mat-header-cell>
              <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{post.data.content}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="data.priority" >
              <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
              <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{post.data.priority}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="data.actions">
              <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
              <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post" [ngClass]="{'oneone' : post.data.comments != '' || post.data.deadline != '', 'twotwo' : post.data.comments == '' && post.data.deadline == ''}"> {{ post.data.branch }} </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" 
          (click)="showPost(row.id,row.data)"
          [ngClass]="{'positive' : row.data.checked_lviv == true, 'negative' : row.data.checked_lviv == false, 'own' : row.data.author == this.auth.currentUserId && row.data.checked == true, 'read' : row.data.read == true}"></mat-row>
        </mat-table>
        <mat-paginator #sitePaginator
                       [pageSize]="14"
                       [pageSizeOptions]="[5, 14, 25, 50]"
                       [showFirstLastButtons]="true">
        </mat-paginator>
        </div>
      </mat-card>
    
    <mat-card class="cards mat-elevation-z10">
        <div>
          <!-- table with posts for gazets-->
          <b><p align="left" style="color:red; font-size:10px;">РОЗГЛЯНУТЕ - ЛЬВІВСЬКІ</p></b>
          <div class="rejected-posts"></div>
          <mat-table #table3="matSort" [dataSource]="lvivData" matSort matSortActive="data.date" matSortDirection="desc">  
            
            <ng-container matColumnDef="data.checked">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Затвердити </mat-header-cell>
              <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{post.data.checked}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="data.branch">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;"  *matCellDef="let post" [ngClass]="{'one' : post.data.branch == 'Головний редактор', 'two' : post.data.branch == 'Оперативний редактор', 'three' : post.data.branch == 'Здоров\'я', 'four' : post.data.branch == 'Новини', 'five' : post.data.branch == 'Політика' , 'six' : post.data.branch == 'Репортери', 'seven' : post.data.branch == 'Регіональні редакції', 'eight' : post.data.branch == 'Самостійний'}"> {{ post.data.branch }} </mat-cell>
              </ng-container>
        
            <ng-container matColumnDef="data.date">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Дата </mat-header-cell>
              <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{ post.data.date}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="data.name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Автор </mat-header-cell>
              <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{ post.data.name}} </mat-cell>
            </ng-container>
        
        
            <ng-container matColumnDef="data.content" >
                <mat-header-cell *matHeaderCellDef mat-sort-header> Тема </mat-header-cell>
                <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{post.data.content}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="data.priority" >
                <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{post.data.priority}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="data.actions">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post" [ngClass]="{'oneone' : post.data.comments != '' || post.data.deadline != '', 'twotwo' : post.data.comments == '' && post.data.deadline == ''}"> {{ post.data.branch }} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" 
            (click)="showPost(row.id,row.data)"
            [ngClass]="{'positive' : row.data.checked_lviv == true, 'negative' : row.data.checked_lviv == false, 'own' : row.data.author == this.auth.currentUserId && row.data.checked == true, 'read' : row.data.read == true}"></mat-row>
          </mat-table>
          <mat-paginator #lvivPaginator
                         [pageSize]="14"
                         [pageSizeOptions]="[5, 14, 25, 50]"
                         [showFirstLastButtons]="true">
          </mat-paginator>
          </div>
        </mat-card>


        <button id="ok" (click)="ok()" class="mdc-fab material-icons app-fab--absolute hidden" aria-label="Favorite">
            OK
          </button>
          