<div class="matt-card">
  <!--<div class="logo">
    <img src= "https://firebasestorage.googleapis.com/v0/b/start-6e32a.appspot.com/o/logo.png?alt=media&token=b50a87fd-9b2d-45c1-94c1-b766a6ca1c84">

  </div>-->
  <div class="nextdivider"></div>
  <div class="buttons">
  <button mat-raised-button  [color]="'success1'" (click)="addPost()">Нова тема!</button>
  <div class="divider"></div>
  <button mat-raised-button  [color]="'success'" (click)="showArchieve()"> Архів </button>
  <div class="divider2"></div>
  <button mat-raised-button  [color]="'success'" (click)="logout()"> Вийти </button>
  </div>
</div>
