<mat-dialog-actions>
    <span class="fillup"></span>
    <button mat-button class='close' [mat-dialog-close]="true">X</button>
  </mat-dialog-actions>
<div class="header"></div>
  <div class="full">
        <div class="divider1"></div>
        <div class="users">
                <mat-table #table1="matSort" [dataSource]="postsData" matSort matSortActive="data.displayName" matSortDirection="asc">  
    
                        <ng-container matColumnDef="data.displayName">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Ім'я </mat-header-cell>
                          <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{post.data.displayName}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="data.branch">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Відділ </mat-header-cell>
                                <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{post.data.branch}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="data.posada">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Посада </mat-header-cell>
                                <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{post.data.posada}} </mat-cell>
                        </ng-container>
                                
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" ></mat-row>
                </mat-table>
        </div>

        <div class="divider"></div>

        <mat-form-field>
                <mat-select placeholder="Журналіст" [(ngModel)]="new_g" [formControl]="gournControl">
                  <mat-option *ngFor="let g of journ" ngDefaultControl [value]="g">
                    {{ g }}
                  </mat-option>
                </mat-select>        
        </mat-form-field>

        <mat-form-field>
                <mat-select placeholder="Відділ" [(ngModel)]="new_branch" [formControl]="posadaControl">
                  <mat-option *ngFor="let t of types" ngDefaultControl [value]="t">
                    {{ t }}
                  </mat-option>
                </mat-select>
        </mat-form-field>

        <mat-form-field>
                <mat-select placeholder="Посада" [(ngModel)]="new_posada" [formControl]="branchControl">
                  <mat-option *ngFor="let p of posadas" ngDefaultControl [value]="p">
                    {{ p }}
                  </mat-option>
                </mat-select>
        </mat-form-field>
        <div>
                <button mat-raised-button class="zminyty" type="submit" [disabled]="(gournControl.hasError('required') || posadaControl.hasError('required') || branchControl.hasError('required'))" (click)="change_user()">Перенести користувача</button>
        </div>

        <div class="divider"></div>

        <mat-form-field>
            <mat-select placeholder="Додати наскрізного" [(ngModel)]="selected_for_naskriz" [formControl]="nascriznaControl" >
              <mat-option *ngFor="let n of not_nascrizni" ngDefaultControl [value]="n">
                {{ n }}
              </mat-option>
            </mat-select>        
        </mat-form-field>
        <div>
            <button mat-raised-button mat-dialog-close class="zminyty" type="submit" [disabled]="(nascriznaControl.hasError('required'))" (click)="add_naskriz()">Додати до наскрізних</button>
        </div>

        <!--<div class="divider"></div>
        <mat-form-field>
            <mat-select placeholder="Журналіст" [(ngModel)]="new_g" [formControl]="deleteOtherControl">
              <mat-option *ngFor="let g of journ" ngDefaultControl [value]="g">
                {{ g }}
              </mat-option>
            </mat-select>        
      </mat-form-field>
      <div>
          <button mat-raised-button mat-dialog-close class="zminyty" type="submit" [disabled]="(deleteOtherControl.hasError('required'))" (click)="deleteOther()">Видалити журналіста</button>
      </div> -->

        <div class="divider"></div>
        <mat-form-field class="input-width">
            <input matInput placeholder="Емейл" [formControl]="emailFormControl" [(ngModel)]="email">
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button mat-dialog-close [color]="'success'"  [disabled]="(emailFormControl.hasError('required'))"(click)=reset(email) color="primary" style="width: 100%">Відновити пароль!</button>
      <div class="divider"></div>
      <div>
          <button mat-raised-button mat-dialog-close class="zminyty" type="submit" (click)="delete()">Видалити користувача!!!</button>
      </div>
  </div>