.mat-column-data-checked {
    flex: 0 0 0px;
}
.mat-column-data-date {
    flex: 0 0 140px;
}

.mat-column-data-content {
    flex: 0 0 45%;
    margin-left: 25px;
}

.mat-column-data-comments {
    margin-left: 25px;
}

.mat-column-data-actions {
    flex: 0 0 0px;
}

.mat-column-data-branch {
    flex: 0 0 0px;
}
.mat-header-cell {
    display:flex;
    justify-content:center;
  }
.mat-cell{
    display: flex;
    justify-content: left;
}  

.mat-row{
    min-height: 6px;
    max-height: 300px;
    cursor: pointer;
}

  

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    overflow: auto;
}
  
.mat-table {
    overflow: auto;
    max-height: 500px;
  }

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}
  
.mat-form-field {
    top: 15px;
    bottom: 5px;
    font-size: 14px;
    width: 100%;
}

.positive {
    background-color: #ABEBC6 !important;
}

.negative {
    background-color: white;
}

.as {
    min-height: 100%
}

.posts {
    min-height: 57vh;
    max-height: 57vh;
    overflow-y: auto;
    overflow-x: auto;
}



