<div class=posts>
<mat-tab-group>
  <mat-tab  class= "ad" label="Газета">
    <div>
      <!-- filter field-->
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter(postsData, $event.target.value)" placeholder="Пошук...">
        </mat-form-field>
      </div>
    <!-- table with posts for gazets-->
    <mat-table #table [dataSource]="postsData" matSort matSortActive="data.date" matSortDirection="desc">  
      
      <ng-container matColumnDef="data.checked">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Затвердити </mat-header-cell>
        <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{post.data.checked}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="data.date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Дата </mat-header-cell>
        <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{ post.data.date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="data.content" >
          <mat-header-cell *matHeaderCellDef mat-sort-header> Тема </mat-header-cell>
          <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let post"> {{post.data.content}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="data.actions">
        <mat-header-cell  style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;"*matHeaderCellDef> Дії </mat-header-cell>
        <mat-cell *matCellDef="let post">
          <button (click)=archieve(post.id)>X</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" 
      class="my-mat-row"
      (click)="showPost(row.id,row.data)"
      [ngClass]="{'positive' : row.data.checked == true, 'negative' : row.data.checked == false}"></mat-row>
    </mat-table>
    <mat-paginator #gazPaginator
                   [pageSize]="13"
                   [showFirstLastButtons]="true">
    </mat-paginator>
    </div>

    </mat-tab>

  <mat-tab  label="Сайт">
    <div>
      <!-- filter field-->
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter(sitesData, $event.target.value)" placeholder="Пошук...">
        </mat-form-field>
      </div>
    <!-- table with posts for gazets-->
    <mat-table #table [dataSource]="sitesData" matSort matSortActive="data.date" matSortDirection="desc">  
      
      <ng-container matColumnDef="data.checked">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Затвердити </mat-header-cell>
        <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let site"> {{site.data.checked}} </mat-cell>
      </ng-container>
            
      <ng-container matColumnDef="data.date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Дата </mat-header-cell>
        <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let site"> {{site.data.date}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="data.content" >
          <mat-header-cell *matHeaderCellDef mat-sort-header> Тема </mat-header-cell>
          <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let site"> {{site.data.content}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="data.actions">
        <mat-header-cell *matHeaderCellDef> Дії </mat-header-cell>
        <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let site">
          <button mat-button (click)=showPost(site.id,site.data)>Переглянути!</button>
        </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" 
      class="my-mat-row"
      (click)="showPost(row.id,row.data)"
      [ngClass]="{'positive' : row.data.checked == true, 'negative' : row.data.checked == false}"></mat-row>
    </mat-table>
    <mat-paginator #sitePaginator
                   [pageSize]="13"
                   [showFirstLastButtons]="true">
    </mat-paginator>
    </div>
  </mat-tab>

  <mat-tab  label="Львів">
      <div>
        <!-- filter field-->
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter(lvivData, $event.target.value)" placeholder="Пошук...">
          </mat-form-field>
        </div>
      <!-- table with posts for gazets-->
      <mat-table #table [dataSource]="lvivData" matSort matSortActive="data.date" matSortDirection="desc">  
        
        <ng-container matColumnDef="data.checked">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Затвердити </mat-header-cell>
          <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let lviv"> {{lviv.data.checked}} </mat-cell>
        </ng-container>
              
        <ng-container matColumnDef="data.date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Дата </mat-header-cell>
          <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let lviv"> {{lviv.data.date}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="data.content" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> Тема </mat-header-cell>
            <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let lviv"> {{lviv.data.content}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="data.actions">
          <mat-header-cell *matHeaderCellDef> Дії </mat-header-cell>
          <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let lviv">
            <button mat-button (click)=showPost(lviv.id,lviv.data)>Переглянути!</button>
          </mat-cell>
        </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" 
      class="my-mat-row"
      (click)="showPost(row.id,row.data)"
      [ngClass]="{'positive' : row.data.checked == true, 'negative' : row.data.checked == false}"></mat-row>
      </mat-table>
      <mat-paginator #sitePaginator
                     [pageSize]="13"
                     [showFirstLastButtons]="true">
      </mat-paginator>
      </div>
    </mat-tab>

    <mat-tab  label="Регіони">
        <div>
          <!-- filter field-->
          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter(regionsData, $event.target.value)" placeholder="Пошук...">
            </mat-form-field>
          </div>
        <!-- table with posts for gazets-->
        <mat-table #table [dataSource]="regionsData" matSort matSortActive="data.date" matSortDirection="desc">  
          
          <ng-container matColumnDef="data.checked">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Затвердити </mat-header-cell>
            <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let region"> {{region.data.checked}} </mat-cell>
          </ng-container>
                
          <ng-container matColumnDef="data.date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Дата </mat-header-cell>
            <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let region"> {{region.data.date}} </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="data.content" >
              <mat-header-cell *matHeaderCellDef mat-sort-header> Тема </mat-header-cell>
              <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let region"> {{region.data.content}} </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="data.actions">
            <mat-header-cell *matHeaderCellDef> Дії </mat-header-cell>
            <mat-cell style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;" *matCellDef="let region">
              <button mat-button (click)=showPost(region.id,region.data)>Переглянути!</button>
            </mat-cell>
          </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" 
      class="my-mat-row"
      (click)="showPost(row.id,row.data)"
      [ngClass]="{'positive' : row.data.checked == true, 'negative' : row.data.checked == false}"></mat-row>
        </mat-table>
        <mat-paginator #sitePaginator
                       [pageSize]="13"
                       [showFirstLastButtons]="true">
        </mat-paginator>
        </div>
      </mat-tab>
</mat-tab-group>
</div>