.matt-card{
  min-height: 98vh;
  background-color: #273746;
}



.mat-success1 {
  background-color: #A93226;
  color: #fff;
  width: 100%;
  padding: 0px;
}
.mat-success {
  background-color: #E74C3C;
  color: #fff;
  width: 100%;
  padding: 3px;
}

.divider2{
  width:1px;
  height:1vh;
  display:inline-block;
}
.divider{
  width:1px;
  height:5vh;
  display:inline-block;
}
.nextdivider{
  width:auto;
  height:1vh;
  display:inline-block;
}
